
<%- include("partials/header"); -%>

<h1>Home</h1>
<p> <%= startingContent %> </p>
<div class="card-deck">

              
<div class="card text-white bg-dark mb-3">
               <div class="card-body">   
<%  posts.forEach(function(post){ %>
      
<h1  class="card-title"><%=post.title%></h1>
<p class="card-text">
<%=post.content.substring(0, 300) + "..."%>
<a class="btn" href="/posts/<%=post._id%>">Read More</a>
</p>


<% }) %>
</div>
</div>
</div>
</div>

<%- include("partials/footer"); -%>